# NPM specific
node_modules
package_lock.json

# Ignore files and directories
ignore/
*.ignore*

# Builds
.DS_Store
dist
dist-ssr
*.local

# Environment variable files
*.env*

# Files and archives
*.log*
*.tar*
*.zip

