/*
Clonix Dash: styles/main.scss

Main styling file
*/

// Main scope
body {
  margin: 0;
  font-family: $font-normal;
  background: $color-prim;
  color: $color-text-regular;

  height: 100dvh;
  max-height: 100dvh;
  overflow: hidden;
}


.text-error {
  color: $color-status-error;
}



.block-warning {
  border: 1px solid $color-status-warning;
  background-color: transparentize($color-status-warning, 0.9);
  color: $color-status-warning;
}