// CloNIX Dash: @/src/styles/theme.scss - Default theming.

@import '@fontsource/adwaita-mono';
@import '@gjsify/adwaita-fonts';

// Transition properties
$transition-color: 0.15s;

// Font families
$font-normal: 'Adwaita Sans', Cantarell, -apple-system, BlinkMacSystemFont, sans-serif;
$font-mono: 'Adwaita Mono', ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;

// Text colors
$color-text-dark: #232323;
$color-text-light: #cdcdcd;

// Grayscale colors
$color-grayscale-f: #ffffff;
$color-grayscale-e: #eeeeee;
$color-grayscale-d: #dddddd;
$color-grayscale-c: #cccccc;
$color-grayscale-b: #bbbbbb;
$color-grayscale-a: #aaaaaa;
$color-grayscale-9: #999999;
$color-grayscale-8: #888888;
$color-grayscale-7: #777777;
$color-grayscale-6: #666666;
$color-grayscale-5: #555555;
$color-grayscale-4: #444444;
$color-grayscale-3: #333333;
$color-grayscale-2: #222222;
$color-grayscale-1: #111111;
$color-grayscale-0: #000000;

// Status colors (Ripped from bootstrap)
$color-status-success: #198754;
$color-status-success-dark: #082c1b;
$color-status-success-light: #9dccb6;
$color-status-info: #0dcaf0;
$color-status-info-dark: #054754;
$color-status-info-light: #86bdc8;
$color-status-warning: #ffc107;
$color-status-warning-dark: #523e01;
$color-status-warning-light: #c2b489;
$color-status-error: #dc3545;
$color-status-error-dark: #491217;
$color-status-error-light: #cb9a9e;

// Rainbow Colors (Pure/half tones)
$color-rainbow-red: #ff0000;
$color-rainbow-orange: #ff7700;
$color-rainbow-yellow: #ffff00;
$color-rainbow-lime: #77ff00;
$color-rainbow-green: #00ff00;
$color-rainbow-mint: #00ff77;
$color-rainbow-teal: #00ffff;
$color-rainbow-sky: #0077ff;
$color-rainbow-blue: #0000ff;
$color-rainbow-purple: #7700ff;
$color-rainbow-magenta: #ff00ff;
$color-rainbow-hotpink: #ff0077;

// Theme colors
$color-prim: #dedede;
$color-secon: #ffffff;
$color-tert: #ffb300;
$color-dark-section: $color-grayscale-2;

// Interaction colors
$color-text-hover: $color-text-dark;
$color-hover: $color-prim;
$color-link-active: $color-tert;